<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>
</head>
<body>
<h1>Links para as páginas</h1>

    <p>Somos um grupo com 3 integrantes: David, Eric e Jefferson.</p>

    <h2>Desafio</h2>
    <p>O desafio é dividido em 3 partes:</p>
    <ol>
        <li>Calcular o valor de uma mensalidade e mostrá-lo em valor anual.</li>
        <li>Calcular a média de notas de um aluno.</li>
        <li>Cadastro de nomes com método FIFO: cadastrar, listar e excluir nomes.</li>
    </ol>

    <a href="/calcularm">Ir para o cálculo de mensalidade</a><br>
    <a href="/calcularavg">Ir para o cálculo de média de notas</a><br>
    <a href="/cadastronomes">Ir para o cadastro de nomes</a>

</body>
</html>